@model Entity.Concrete.Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Yeni Ürün Ekleme</h6>
    <form method="post">
        @if (ViewData.ModelState.IsValid)
        {
            <div class="alert alert-warning">
                Gerekli tüm alanları doldurunuz.
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                Ürün eklenirken hata oluştu. Lütfen tüm alanları doldurun.
            </div>
        }
        <input type="hidden" class="form-control" id="CategoryId" asp-for="CategoryId" />
        <div class="mb-3">
            <label for="productname" class="form-label">Ürün Başlığı</label>
            <input type="text" class="form-control" id="productname" asp-for="ProductName" />
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("ProductName"))
            {
                <span class="text-danger">@Html.ValidationMessage("ProductName")</span>
            }
        </div>
        <div class="mb-3">
            <label for="productimage" class="form-label">Ürün Fotoğrafı</label>
            <input type="text" class="form-control" id="productimage" asp-for="ProductImage" />
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("ProductImage"))
            {
                <span class="text-danger">@Html.ValidationMessage("ProductImage")</span>
            }
        </div>
        <div class="mb-3">
            <label for="productstock" class="form-label">Stok Miktarı</label>
            <input type="text" class="form-control" id="productstock" asp-for="UnitsInStock" />
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("UnitsInStock"))
            {
                <span class="text-danger">@Html.ValidationMessage("UnitsInStock")</span>
            }
        </div>
        <div class="mb-3">
            <label for="productprice" class="form-label">Fiyat</label>
            <input type="text" class="form-control" id="productprice" asp-for="UnitPrice" />
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("UnitPrice"))
            {
                <span class="text-danger">@Html.ValidationMessage("UnitPrice")</span>
            }
        </div>
        <div class="mb-3">
           
            <label for="productcategory" class="form-label">Kategori</label>
            <div id="dvDropDawnList">
                <select id="ddlMainCategory" class="ddlCategory" category-no="1"></select>
            </div>
        </div>
        <div class="mb-3">
            <label for="productdescription" class="form-label">Ürün Açıklaması</label>
            <input type="text" class="form-control" id="productdescription" asp-for="Description" />
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("Description"))
            {
                <span class="text-danger">@Html.ValidationMessage("Description")</span>
            }
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script>
    getMainCategory();

    function getMainCategory() {
        $.ajax({
            url: "/Category/GetMainCategories",
            type: "GET",
            success: function (data) {
                $("#ddlMainCategory").append('<option value="-1">Seçiniz...</option>');
                $.each(data, function (index, item) {
                    $("#ddlMainCategory").append($('<option>', {
                        value: item.categoryId,
                        text: item.categoryName
                    }));
                });
            }
        });
    }

    function fnGetir(x) {
        var parentCategoryId = x;
        $("#CategoryId").val(parentCategoryId);
        $.ajax({
            url: "/Category/GetSubCategories",
            data: { parentCategoryId: parentCategoryId },
            type: "GET",
            success: function (data) {
                if (data.length > 0) {
                    var htm = "<select class='ddlCategory' onchange='fnGetir($(this).val())'><option value='-1'>Seçiniz...</option>";
                    $.each(data, function (index, item) {
                        htm += '<option value="' + item.categoryId + '">' + item.categoryName + '</option>';
                    });
                    htm += "</select>";
                    $("#dvDropDawnList").append(htm);
                }
                else{
                        //hidden bir alanda categori id yaz;  x içine doldur form post olduğunda id kategori id olacak
                    $("#selectedCategoryId").val(parentCategoryId);
                }
            }
                  
                
        });
    }

    $(function () {
        $('select').change(function () {
            var parentCategoryId = $(this).val();
            $.ajax({
                url: "/Category/GetSubCategories",
                data: { parentCategoryId: parentCategoryId },
                type: "GET",
                success: function (data) {
                    var htm = "<select class='ddlCategory' onchange='fnGetir($(this).val())'><option value='-1'>Seçiniz...</option>";
                    $.each(data, function (index, item) {
                        htm += '<option value="' + item.categoryId + '">' + item.categoryName + '</option>';
                    });
                    htm += "</select>";
                    $("#dvDropDawnList").append(htm);
                }
            });
        });
    });
</script>
